<h1>Edit Book</h1>
<form [formGroup]="bookCreateForm" (ngSubmit)="submit()">
  <table cellpadding="10">
    <tr>
      <th>Title: </th>
      <td>
        <input type="text" formControlName="title">
        <div class='form-error' *ngIf="(title.touched) || isSubmitted">
          <p *ngIf="title.errors?.required">Required</p>
          <p *ngIf="title.errors?.minlength">Should have at least 3 characters</p>
        </div>
      </td>
    </tr>
    <tr>
      <th>Author: </th>
      <td>
        <input type="text" formControlName="author">
        <div class='form-error' *ngIf="(author.touched) || isSubmitted">
          <p *ngIf="author.errors?.required">Required</p>
        </div>
      </td>
    </tr>
    <tr>
      <th>Description: </th>
      <td>
        <textarea rows="10" cols="20" formControlName="description"></textarea>
        <div class='form-error' *ngIf="(description.touched) || isSubmitted">
          <p *ngIf="description.errors?.required">Required</p>
        </div>
      </td>
    </tr>
    <tr>
      <td><a routerLink="/books"><button class="cancel" type="button">Cancel</button></a></td>
      <td><button class="add">Save</button></td>
    </tr>
  </table>
</form>


