/* You can add global styles to this file, and also import other style files */
.form-error p{
  color: red;
  font-weight: 600;
}
.add {
  background-color: lawngreen;
}
.edit {
  background-color: aqua;
}
.delete {
  background-color: red;
}
.cancel {
  background-color: grey;
}
button {
  width: 100px;
  height: 30px;
  border: none;
  cursor: pointer;
  margin-left: 15%;
  margin-right: 15%;
}
th {
  vertical-align: top;
}
input {
  width: 200px;
}

